on:
  push:
    branches: [test-branch]

name: Workflow 1

jobs:

    deploy:
      runs-on: ubuntu-latest
      steps:
        - name: Login to Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

        - name: Checkout source code
          uses: actions/checkout@v2

        - name: Deploy ARM Template
          uses: azure/CLI@v1
          with:
            inlineScript: |
              az deployment group create --resource-group AzureChallengeGitHubActionsRG --template-file azuredeploy.json --parameter appName="AzureDeployDeployment1998"
        
        - name: Trigger next workflow
          if: success()
          uses: peter-evans/repository-dispatch@v1
          with:
            token: ${{ secrets.REPO_GHA_PAT }}
            repository: ${{ github.repository }}
            event-type: trigger-workflow-2
            client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
